<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--comienza meta seo-->
	<meta name="descripcion" content="Algunas imagenes de nuestros menus con la mejor comidad de papin pizzas">
	<meta name="author" content="Guillermo Sangiovanni">
	<meta name="keywords" content="comida,pizzas,hamburguesas, papas fritas, chivitos,comida rapida,envios a domicilio">
	<meta name="robots" content="index, follow">
	<!--fin seo-->
	<title>Galeria - Papin Pizzas - Comida hecha como en casa</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link rel="shortcut icon" href="../img/favicon2.ico">
	<link rel="stylesheet" href="../css/main.css">

</head>
<body>
	<!--inicia nav-->
	<header class="orden">
		<nav class="navbar navbar-expand-lg bg-black">
  			<div class="container-fluid">
    			<a class="navbar-brand" href="../index.html">
    			<img src="../img/logo.svg"  alt="logo de Papin Pizzas - Comer como en casa" id="img_logo">
    			</a>
    			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      			<span class="navbar-toggler-icon"></span>
    			</button>
    		<div class="collapse navbar-collapse" id="navbarSupportedContent">
      			<ul class="navbar-nav ms-auto ms-2 mb-lg-0">
        			<li class="nav-item">
          				<a class="nav-link" href="../views/nosotros.html">NOSOTROS</a>
        			</li>
        			<li class="nav-item">
          				<a class="nav-link" href="../views/menu.html">MENU</a>
        			</li>
        			<li class="nav-item">
         				<a class="nav-link" href="../views/galeria.html">GALERIA</a>
        			</li>
        			<li class="nav-item">
          				<a class="nav-link" href="../views/contacto.html">CONTACTO</a>
        			</li>        
    		</div>
  			</div>
  		</nav>
  		<!--fin nav-->
				<!--inicia carusel-->
				<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
		  		<div class="carousel-inner">
		    	<div class="carousel-item active" data-bs-interval="10000">
		      		<img src="../img/header12.png" class="caruselfoto" alt="Porcion de pizza redonda con mucha muzzarella y oregano">
		    	</div>
		    	<div class="carousel-item" data-bs-interval="2000">
		      		<img src="../img/header4.png" class="caruselfoto" alt="Pizza redonda con tomate cherry y perejil ">
		    	</div>
		    	<div class="carousel-item">
		      		<img src="../img/header20.png" class="caruselfoto" alt="Hamburguesa al pan con papas fritas">
		    	</div>
		  		</div>
		  		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
		    	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    	<span class="visually-hidden">Previous</span>
		  		</button>
		  		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
		    	<span class="carousel-control-next-icon" aria-hidden="true"></span>
		    	<span class="visually-hidden">Next</span>
		  		</button>
				</div>
				<!--fin carusel-->
			</div>
		</div>	
	</header>
	<main>
		<div class="leyenda_productos">
			<h2>----NUESTROS PRODUCTOS----</h2>
			<p>Nuestros productos estan hechos con las mejores materias primas</p>
			<p>No solo es rico sino que no vas a poder terminarlos</p>
		</div>
		<!--inicia info papin producto - foto-->
		<section class="productosdegaleria">
			<div class="producto1texto">
				<h2>Pizzas</h2>
				<p>Exquisita pizzeta redonda de aproxiamdamente 32 cm, con salsa de tomate casera. Muzzarella derretida, con diversos gustos a eleccion. La podes pedir con bordes rellenos de muzzarrella, combinada de sabores o dividos los mismos para compartir.</p>
			</div>
			<div class="producto1img">
				<img src="../img/producto1.png" alt="Pizza redonda con sabores">
			</div>
			<div class="producto2texto">
				<h2>Hamburguesas</h2>
				<p>Hamburguesas caseras de las carnes que vos prefieras. Ademas le podes incluir todos los ingredientes que te imagines, te recomendamos rellenarlo de un sabroso queso cheddar y una panceta crujiente que vas a querer pedir otra. Acompañalo con unas papas fritas caseras a las cuales le podes agregar una salsa barbacoa fresca pero a la vez con un picor que no vas a parar de comerla.</p>
			</div>
			<div class="producto2img">
				<img src="../img/producto2.png" alt="Hamburguesa al pan">
			</div>
			<div class="producto3texto">
				<h2>Chivitos</h2>
				<p>El chivito es igual que su receta original cuenta con una carne deliciosa y tierna, la cual te va a encantar desgutarla. Le suamamos distintos sabores pero siempre con la base de los condimentos, tales como lechuga. tomate, jamon, queso, panceta y aceitunas que crean una union perfecta entre dos panes tiernos o para comer al plato con deliciosas guarniciones.</p>
			</div>
			<div class="producto3img">
				<img src="../img/chivitomenu.jpg" alt="Chivito al pan">
			</div>
			<div class="producto4texto">
				<h2>Papas</h2>
				<p>Papas fitas crocantes y deliciosas, podes probarlas con distintas salsas que hace de esta guarnicion un plato principal con gusto a mucho, no te las pierdas!. Probalas con salsa barbacoa, cheddar, cheddar y panceta o con nuestra deliciosa salsa de crema y champigniones.</p>
			</div>
			<div class="producto4img">
				<img src="../img/papasmenu.png" alt="Papas fritas con salsa barbacoa">
			</div>
		</section>
		<!--fin info papin producto - foto-->
	</main>
	<!--inicia footer-->
	<footer class="pie-pagina">
		<div class="logo_footer">
			<div class="box1">
				<a href="index.html">
				<img src="../img/logo.png" alt="logo de Papin Pizzas - Comer como en casa" class="logo_index">
				</a>
			</div>
			<div class="box" class="contacto-papin">
				<h2 class="text-center" >CONTACTO</h2>
				<ul class="text-left">
					<li>
						<h3>Direccion:</h3>
						<p>Joanico 3332</p>
					</li>
					<li>
						<h3>Telefono:</h3>
						<p>24800409</p>
					</li>
					<li>
						<h3>Celular:</h3>
						<p>093997007</p>
					</li>
				</ul>	
			</div>
				<div class="box">
					<div class="redes-pedido text-center">
					<h2>HACE TUS PEDIDOS</p>
					<a href="https://www.pedidosya.com.uy/restaurantes/montevideo/papin-pizzas-menu" target="'_blank'">
					<img src="../img/pedidoya.png" alt="Logo de pedido ya y enlace al mismo">
					</a>
					<a href="https://www.rappi.com.uy/" target="'_blank'">
					<img src="../img/rappi.png" alt="Logo de rappi y enlace al mismo">
					</a>
				</div>
			</div>
			<div class="box">
				<h2 class="text-center">SEGUINOS EN REDES</p>
					<div class="red-social">
						<ul class="sociales">
							<li>
								<a href="https://www.facebook.com/Papin-Pizzas-145297070652330/" target="'_blank'" class="facebook">
								<img src="../img/facebook.png" alt="Logo de Facebook y enlace al mismo" >
								</a>
							</li>
							<li>
								<a href="https://www.twitter.com" target="'_blank'" class="twitter">
								<img src="../img/twitter.png" alt="Logo de twitter y enlace al mismo" >	
								</a>
							</li>
							<li>
								<a href="https://www.instagram.com/papinpizzas/?hl=es" target="'_blank'"  class="instagram">
								<img src="../img/instagram.png" alt="Logo de instagram y enlace al mismo ">
								</a>
							</li>
							<li>
								<a href="https://api.whatsapp.com/send?phone=0123456789" target="'_blank'" class="whatsapp">
								<img src="../img/whatsapp.png" alt="Logo de whatsapp y enlace a whatsapp web" >
								</a>
							</li>
						</ul>
					</div>
			</div>
		</div>	
	</footer>
	<!--fin footer-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>