<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--comienza meta seo-->
	<meta name="descripcion" content="Todos nuestros productos los podes ver y elegir el que mas te guste, contamos con una variedad de menus, podes elegir pizzas, papas fritas, chivitos, milanesas, hamburguesas y para acompanar distintos refrescos a precios increibles">
	<meta name="author" content="Guillermo Sangiovanni">
	<meta name="keywords" content="comida,milanesas, papas fritas, refresco, pizzas,hamburguesas,comida rapida,envios a domicilio">
	<meta name="robots" content="index, follow">
	<!--fin seo-->
	<title>Menu - Papin Pizzas - Comida hecha como en casa</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link rel="shortcut icon" href="../img/favicon2.ico">
	<link rel="stylesheet" href="../css/main.css">

</head>
<body>
	<!--inicia nav-->
	<nav class="navbar navbar-expand-lg bg-black">
  		<div class="container-fluid">
    		<a class="navbar-brand" href="../index.html">
    		<img src="../img/logo.svg"  alt="logo de Papin Pizzas - Comer como en casa" id="img_logo">
    		</a>
    		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      		<span class="navbar-toggler-icon"></span>
    		</button>
    	<div class="collapse navbar-collapse" id="navbarSupportedContent">
      		<ul class="navbar-nav ms-auto ms-2 mb-lg-0">
        		<li class="nav-item">
          			<a class="nav-link" href="../views/nosotros.html">NOSOTROS</a>
        		</li>
        		<li class="nav-item">
          			<a class="nav-link" href="../views/menu.html">MENU</a>
        		</li>
        		<li class="nav-item">
          			<a class="nav-link" href="../views/galeria.html">GALERIA</a>
        		</li>
        		<li class="nav-item">
        			<a class="nav-link" href="../views/contacto.html">CONTACTO</a>
        		</li>        
    	</div>
  		</div>
	</nav>
	<!--fin nav-->
		<!--inicia carusel-->
		<header class="orden" id="header">
			<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">
				<div class="carousel-item active">
				    <img src="../img/header13.png" class="caruselfoto" alt="chivito al pan">
				</div>
				<div class="carousel-item">
				    <img src="../img/header19.png" class="caruselfoto" alt="porcion de fritas con salsa cheddar">
				</div>
				<div class="carousel-item">
				    <img src="../img/header14.png" class="caruselfoto" alt="milanesa en dos panes completa">
				</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
				   <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				   <span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
				    <span class="carousel-control-next-icon" aria-hidden="true"></span>
				    <span class="visually-hidden">Next</span>
				</button>
		</header>
		<!--fin carusel-->
	<!--inicia menu completo-->	
	<main class="menu_papin">
		<span><h2>MENU</h2></span>
		<div class="contenedor">
			<!--inicia filtros-->	
			<div class="filtros">
				<h3>Filtros</h3>
				<ul>
					<li>PIZZAS</li>
					<li>HAMBURGUESAS</li>
					<li>CHIVITOS</li>
					<li>SANDWICHES</li>
					<li>MILANESAS</li>
					<li>BAURU</li>
					<li>PAPAS</li>
					<li>LEHMEYUN</li>
					<li>BEBIDAS</li>
				</ul>
			</div>	
			<!--fin filtros-->
			<!--inicia productos - precio-->
			<div class="productos">
				<div class="galeria">			
					<figure>
						<img src="../img/porcionpizza.png" alt="Porcion Pizza" id="imghom">
						<figcaption>Porcion Pizza</figcaption>
						<p class="price">$80</p>
					</figure>

					<figure>
						<img src="../img/porcionmuzza.jpg" alt="Porcion de muzzarella">
						<figcaption>Porcion de muzzarella</figcaption>
						<p class="price">$130</p>
					</figure>

					<figure>
						<img src="../img/faina.png" alt="Porcion de faina">
						<figcaption>Porcion de faina</figcaption>
						<p class="price">$80</p>
					</figure>
				</div>
				<div class="galeria">			
					<figure>
						<img src="../img/mediopizza.png" alt="Medio metro de pizza">
						<figcaption>Medio metro de pizza</figcaption>
						<p class="price">$170</p>
					</figure>

					<figure>
						<img src="../img/mediomuzza.png" alt="Medio metro de muzza">
						<figcaption>Medio metro de muzza</figcaption>
						<p class="price">$260</p>
					</figure>

					<figure>
						<img src="../img/metropizza.png" alt="Metro de pizza">
						<figcaption>Metro de pizza</figcaption>
						<p class="price">$320</p>
					</figure>
				</div>
				<div class="galeria">			
					<figure>
						<img src="../img/metromuzza.png" alt="Metro de muzza">
						<figcaption>Metro de muzza</figcaption>
						<p class="price">$480</p>
					</figure>

					<figure>
						<img src="../img/pizzaredonda.jpg" alt="Pizzeta de 32 cm con muzza">
						<figcaption>Pizzeta de 32 cm con muzza</figcaption>
						<p class="price">$230</p>
					</figure>

					<figure>
						<img src="../img/pizzasabores.jpg" alt="Pizzeta de 32 cm con gusto">
						<figcaption>Pizzeta de 32 cm con gusto</figcaption>
						<p class="price">$270</p>
					</figure>
				
				</div>
				<div class="galeria">			
					<figure>
						<img src="../img/papin3.jpg" alt="Pizzeta papin con cheddar,huevos y fritas">
						<figcaption>Pizzeta papin con cheddar,huevos y fritas</figcaption>
						<p class="price">$350</p>
					</figure>

					<figure>
						<img src="../img/papin2.jpg" alt="Pizzeta papin con cheddar y panceta">
						<figcaption>Pizzeta papin con cheddar y panceta</figcaption>
						<p class="price">$230</p>
					</figure>

					<figure>
						<img src="../img/metrocongusto.png" alt="Metro de pizza con gusto">
						<figcaption>Metro de pizza con gusto</figcaption>
						<p class="price">$550</p>
					</figure>
				</div>

				<div class="galeria">			
					<figure>
						<img src="../img/fritas.png" alt="Porcion de papas fritas">
						<figcaption>Porcion de papas fritas</figcaption>
						<p class="price">$130</p>
					</figure>

					<figure>
						<img src="../img/fritascheddar.png" alt="Porcion de papas fritas con cheddar y panceta">
						<figcaption>Porcion de papas fritas con cheddar y panceta</figcaption>
						<p class="price">$270</p>
					</figure>

					<figure>
						<img src="../img/fritaschampi.png" alt="Porcion de papas firtas con salsa champi">
						<figcaption>Porcion de papas fritas con salsa champi</figcaption>
						<p class="price">$270</p>
					</figure>
				</div>

				<div class="galeria">			
					<figure>
						<img src="../img/gramajo.jpg" alt="Gramajo para 1 persona">
						<figcaption>Gramajo para 1 persona</figcaption>
						<p class="price">$240</p>
					</figure>

					<figure>
						<img src="../img/gramajo2.jpg" alt="Gramajo para 2 personas">
						<figcaption>Gramajo para 2 personas</figcaption>
						<p class="price">$360</p>
					</figure>

					<figure>
						<img src="../img/bauru.jpg" alt="Bauru con fritas">
						<figcaption>Bauru con fritas</figcaption>
						<p class="price">$310</p>
					</figure>
				</div>

				<div class="galeria">			
					<figure>
						<img src="../img/milacompletaen2.jpg" alt="Milanesa completa en dos panes">
						<figcaption>Milanesa completa en dos panes</figcaption>
						<p class="price">$350</p>
					</figure>

					<figure>
						<img src="../img/milacaballo.png" alt="Milanesa a caballo">
						<figcaption>Milanesa a caballo</figcaption>
						<p class="price">$280</p>
					</figure>

					<figure>
						<img src="../img/milacheddar.png" alt="Milanesa con cheddar y panceta">
						<figcaption>Milanesa con cheddar y panceta</figcaption>
						<p class="price">$310</p>
					</figure>
				</div>

				<div class="galeria">			
					<figure>
						<img src="../img/napo1.png" alt="Milanesa napolitana para 1">
						<figcaption>Milanesa napolitana para 1</figcaption>
						<p class="price">$340</p>
					</figure>

					<figure>
						<img src="../img/napo2.png" alt="Milanesa napolitana para 2">
						<figcaption>Milanesa napolitana para 2</figcaption>
						<p class="price">$560</p>
					</figure>

					<figure>
						<img src="../img/mega.png" alt="Megamilanesa con varios gustos">
						<figcaption>Megamilanesa con varios gustos</figcaption>
						<p class="price">$640</p>
					</figure>
				</div>

				<div class="galeria">			
					<figure>
						<img src="../img/chivicomun.png" alt="Chivito comun al pan">
						<figcaption>Chivito comun al pan</figcaption>
						<p class="price">$240</p>
					</figure>

					<figure>
						<img src="../img/chivipan.png" alt="Chivito canadiense al pan">
						<figcaption>Chivito canadiense al pan</figcaption>
						<p class="price">$290</p>
					</figure>

					<figure>
						<img src="../img/chivi1plato.png" alt="Chivito al plata para 1">
						<figcaption>Chivito al plata para 1</figcaption>
						<p class="price">$430</p>
					</figure>
				</div>


				<div class="galeria">			
					<figure>
						<img src="../img/chivi2plato.png" alt="Chivito al plato para 2">
						<figcaption>Chivito al plato para 2</figcaption>
						<p class="price">$730</p>
					</figure>

					<figure>
						<img src="../img/leme.png" alt="Lehmeyun">
						<figcaption>Lehmeyun</figcaption>
						<p class="price">$90</p>
					</figure>

					<figure>
						<img src="../img/lememuzza.jpg" alt="Lehmeyun con muzzarela">
						<figcaption>Lehmeyun con muzzarela</figcaption>
						<p class="price">$120</p>
					</figure>
				</div>

				<div class="galeria">			
					<figure>
						<img src="../img/caliente.png" alt="Sandwich caliente clasico">
						<figcaption>Sandwich caliente clasico</figcaption>
						<p class="price">$160</p>
					</figure>

					<figure>
						<img src="../img/calienteconmuzza.jpg" alt="Sandwich caliente con muzzarela">
						<figcaption>Sandwich caliente con muzzarela</figcaption>
						<p class="price">$200</p>
					</figure>

					<figure>
						<img src="../img/calientenapolitano.png" alt="Sandwich caliente napolitano">
						<figcaption>Sandwich caliente napolitano </figcaption>
						<p class="price">$120</p>
					</figure>
				</div>


				<div class="galeria">			
					<figure>
						<img src="../img/hambupapin.jpg" alt="Hamburguesa XL especial">
						<figcaption>Hamburguesa XL especial</figcaption>
						<p class="price">$345</p>
					</figure>

					<figure>
						<img src="../img/hambucomun.png" alt="Hamburguesa XS comun">
						<figcaption>Hamburguesa XS comun</figcaption>
						<p class="price">$210</p>
					</figure>

					<figure>
						<img src="../img/hambucomun2.png" alt="Hamburguesa XL comun">
						<figcaption>Hamburguesa XL comun </figcaption>
						<p class="price">$330</p>
					</figure>
				</div>

				<div class="galeria">			
					<figure>
						<img src="../img/producto2.png" alt="Hamburguesa XS especial">
						<figcaption>Hamburguesa XS especial</figcaption>
						<p class="price">$280</p>
					</figure>

					<figure>
						<img src="../img/coca600.png" alt="Coca cola 600ml">
						<figcaption>Coca cola 600ml</figcaption>
						<p class="price">$210</p>
					</figure>

					<figure>
						<img src="../img/coca15.png" alt="Coca cola 1.5 Lts">
						<figcaption>Coca cola 1.5 Lts </figcaption>
						<p class="price">$115</p>
					</figure>
				</div>

				<div class="galeria">			
					<figure>
						<img src="../img/corona.png" alt="Cerveza corona">
						<figcaption>Cerveza corona</figcaption>
						<p class="price">$75</p>
					</figure>

					<figure>
						<img src="../img/patricia.png" alt="Cerveza patricia 500ml">
						<figcaption>Cerveza patricia 500ml</figcaption>
						<p class="price">$160</p>
					</figure>

					<figure>
						<img src="../img/zillertal.png" alt="Cerveza zillertal 500ml">
						<figcaption>Cerveza zillertal 500ml </figcaption>
						<p class="price">$180</p>
					</figure>
					</div>
					<!--fin productos -precios-->
			</div>		
		</main>
		<!--fin menu completo-->
		<!--inicia footer-->
		<footer class="pie-pagina">
			<div class="logo_footer">
				<div class="box1">
						<a href="index.html">
							<img src="../img/logo.png" alt="logo de Papin Pizzas - Comer como en casa" class="logo_index" id="logo">
						</a>
				</div>
				<div class="box" class="contacto-papin">
					<h2 class="text-center">CONTACTO</h2>
					<ul class="text-left">
						<li>
							<h3>Direccion:</h3>
							<p>Joanico 3332</p>
						</li>
						<li>
							<h3>Telefono:</h3>
							<p>24800409</p>
						</li>
						<li>
							<h3>Celular:</h3>
							<p>093997007</p>
						</li>
					</ul>	
				</div>
				<div class="box">
					<div class="redes-pedido text-center">
					<h2>HACE TUS PEDIDOS</h2>
					<a href="https://www.pedidosya.com.uy/restaurantes/montevideo/papin-pizzas-menu" target="'_blank'">
					<img src="../img/pedidoya.png" alt="Logo de pedido ya y enlace al mismo">
					</a>
					<a href="https://www.rappi.com.uy/" target="'_blank'">
					<img src="../img/rappi.png" alt="Logo de rappi y enlace al mismo">
					</a>
					</div>
				</div>
				<div class="box">
					<h2 class="text-center">SEGUINOS EN REDES</h2>
						<div class="red-social">
							<ul class="sociales text-center">
								<li>
									<a href="https://www.facebook.com/Papin-Pizzas-145297070652330/" target="'_blank'" class="facebook">
									<img src="../img/facebook.png" alt="Logo de Facebook y enlace al mismo" >
									</a>
								</li>
								<li>
									<a href="https://www.twitter.com" target="'_blank'" class="twitter">
									<img src="../img/twitter.png" alt="Logo de twitter y enlace al mismo" >	
									</a>
								</li>
								<li>
									<a href="https://www.instagram.com/papinpizzas/?hl=es" target="'_blank'"  class="instagram">
									<img src="../img/instagram.png" alt="Logo de instagram y enlace al mismo ">
									</a>
								</li>
								<li>
									<a href="https://api.whatsapp.com/send?phone=0123456789" target="'_blank'" class="whatsapp">
									<img src="../img/whatsapp.png" alt="Logo de whatsapp y enlace a whatsapp web" >
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>	
		</footer>
		<!--fin footer-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
