@media only screen and (max-width:1024px){
	.orden{
		.carousel{
			.carousel-inner{
				.carousel-item{
					.caruselfoto{
						height: 600px;
						width: 100vw;
					}
				}
			}
		}
	}
	.caruselfoto2{
		height: 40vh;
		width: 100vw;
	}	
	.boton_menu{
		padding: 20px;
	}
	.home_papin{
		.infodepapin{
			.articulopapin{
			display: inline-block;
			.home_nosotros_img{
				.home_img{
				width: 100vw;
				height: 100vh;
				}
			}	
			.home_papin_texto{
			    width: 94%;
    			justify-items: center;
    			margin: 2% 5% 2% 3%;
    			text-align: center;
			}
		}
	}	
	.compra_papin{
		.img_compra{
			.compra_img{
				height: 40vh;
				width: 100vw;
				}
			}
		}
	}
	.nosotros{
		display: inline-block;
		.nosotros_img{
			.nosotrosfoto{
				height: 90vh;
				width: 100vw;
				margin: 0;
				padding: 5%;
			}
		}
	.nosotros_texto{
		width: 100%;
		margin: 0% 0% 2% 0%;
		padding: 0% 8% 1% 8%;
		}		
	}
	.pie-pagina {
		.logo_footer{
			.box{
				.red-social{
					.sociales{
						li{
							display: inline-block;
							text-decoration: none;
							margin-left: 4%;
							padding-top: 10px;
						}
					}
				}
			}			
		}
	}
	.leyenda_productos{
		h2{
			text-align: center;
			color: $white;
			text-decoration: underline;
			background-color: $keyColor;
			margin: 20px 20px 0 20px;
			font-size: $textLg;
		}
		p{
			text-align: center;
			color: $white;
			background-color: $keyColor;
			margin: 0 20px 0 20px;
			padding: 10px;
			font-size: $textMd;
		}
	}
	.menu_papin{
		.contenedor{
				@include grid(100%,center);
				grid-template-rows: repeat(1, 1fr);
				grid-template-areas: 
				"productos" 
				"filtros"
			}
	.filtros{
		grid-area: filtros;
		text-align: center;
		}
	.productos{
		grid-area: productos;
		.galeria{
			@include d-flex(space-between,auto);
			figure{
				width: 30%;
				text-align: center;
				img{
					height: 72%;
					width: 100%;
					border-radius: 0;
					transition: 0.5s;
					}
				}	
			}		
		}	
	}
	.productosdegaleria{
		@include grid(100%,center);
		grid-template-areas: 
		"producto1img"
		"producto1texto"
		"prodcuto2img"
		"producto2texto"
		"producto3img"
		"producto3texto"
		"producto4img" 
		"producto4texto"	
		}

	.producto1texto{
		grid-area: producto1texto;
	}
	.producto2texto{
		grid-area: producto2texto;
	}
	.producto3texto{
		grid-area: producto3texto;
	}
	.producto4texto{
		grid-area: producto4texto;
	}
	.producto1img{
		grid-area: producto1img;
	}
	.producto2img{
		grid-area: prodcuto2img;
	}
	.producto3img{
		grid-area: producto3img;
	}
	.producto4img{
		grid-area: producto4img;
	}
	.productosdegaleria{
		.producto1img{
			img{
			width: 100vw;
			height: 50vh;
			margin-top: 10px;
			margin-left: 0;
			}
		}	
		.producto2img{
			img{
			width: 100vw;
			height: 50vh;
			margin-top: 10px;
			margin-left: 0;
			}
		}
		.producto3img{
			img{
			width: 100vw;
			height: 50vh;
			margin-top: 10px;
			margin-left: 0;
			}
		}
		.producto4img{
			img{
			width: 100vw;
			height: 50vh;
			margin-top: 10px;
			margin-left: 0;
			}
		}
	}	
}
