.menu_papin{
	h2{
		text-align: center;
		color: $white;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
		background-color: $keyColor;	
	}
	.contenedor{
			@include grid(20% 80%,center);
			grid-template-rows: repeat(1, 1fr);
			grid-template-areas: 
			"filtros productos"
		}
.filtros{
	grid-area: filtros;
}
.productos{
	grid-area: productos;
}
}

.productos{
	.galeria{
		@include d-flex(space-between,auto);
		figure{
			width: 30%;
			text-align: center;
			img{
				height: 300px;
				width: 300px;
				border-radius: 0;
				transition: 0.5s;
				&:hover{
				transform: scale(1.1);
				}
			}
			figcaption{
			@include texto($white, $textMd, 1)
			padding-top: 10px;
			}
		}	
	}		
}	

.menu_papin{
	.contenedor{
		.filtros{
			@include texto($secondaryColor, $textMd, 1.5em)
			padding-top: 15px;
			float: none;
			h3{
				text-align: center;
				text-decoration: underline;
				padding-bottom: 20px;
			}
			ul{
				list-style: none;
				li{
				padding-top: 15px;
				}
			}
		}
	}
}			